@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgb(214, 28, 28);
  --background-color: #000;
  --white-color: #fff;
  --link-color: rgba(255, 255, 255, 0.7);
  --button-font-size: 16px;
  --button-border-radius: 4px;
  --h1-size-mobile: 30px;
  --h1-size-tablet: 36px;
  --h1-size-desktop: 42px;
  --h2-size-mobile: 20px;
  --h2-size-tablet: 26px;
  --h2-size-desktop: 32px;
  --paragraph-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
  background: var(--background-color);
}

/*** mobile first approach ***/

/* navigation */
.navigation {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-color);
  padding: 22px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img-container {
  width: 130px;
}

.logo {
  width: 100%;
  height: 100%;
}

/* hero section */
.hero-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)),
    url(./assets/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero-content-wrapper {
  position: relative;
  text-align: center;
  color: var(--white-color);
  top: 35%;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

#hero-title {
  display: flex;
  flex-direction: column;
}

.hero-subtitle {
  font-size: var(--h2-size-mobile);
  font-weight: 400;
  margin: 12px 0;
}

.hero-text {
  font-size: var(--paragraph-font-size);
  margin: 12px 0;
}

.start-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 10px;
}

.start {
  padding: 14px 16px;
  font-size: 24px;
}

/* movies section */
.home-movie-poster {
  width: 220px;
  height: 320px;
  margin: auto;
}

.home-movie-poster:hover {
  transform: scale(1.1);
}

/* footer */
footer {
  background-color: var(--background-color);
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  padding: 16px 24px 42px 24px;
}

.footer-link {
  color: var(--link-color);
  text-decoration: underline;
  font-size: 12px;
  flex: 0 0 158px;
}

.footer-link:hover {
  color: var(--white-color);
  cursor: pointer;
}

/* shared styles */
button {
  color: var(--white-color);
  font-size: var(--button-font-size);
  background-color: var(--primary-color);
  padding: 8px 16px;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: 0.3s ease-out;
}

button:hover {
  background: rgb(193, 17, 25);
}

p {
  color: var(--white-color);
}

.title {
  font-size: var(--h1-size-mobile);
  color: var(--white-color);
}

.hero-text,
.hero-subtitle,
.hero-text,
.footer-link {
  line-height: 1.5;
}

input {
  padding: 14px 16px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  background-color: var(--background-color);
}

.home-movies-section,
.movies-section {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
}

.home-movies-wrapper,
.movies-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.start,
.other-movies,
select {
  flex: 0 0 auto;
  align-self: center;
}

/* back to top arrow */
#back-to-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 62px;
  height: 62px;
  display: none;
  cursor: pointer;
  z-index: 1000;
  fill: var(--primary-color);
}

#back-to-top.show {
  display: block;
}

/* register section */
#register-title {
  text-align: center;
  margin: 42px;
}

.sign-up-form {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin: auto;
  gap: 16px;
  justify-content: center;
  min-height: 50vh;
}

.invalid {
  border-color: var(--primary-color);
}

.valid {
  border-color: green;
}

/* movies */
.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

#homepage-btn {
  margin-top: 36px;
}

select {
  padding: 8px;
  border: 2px solid var(--primary-color);
  border-radius: var(--button-border-radius);
  color: var(--white-color);
  background-color: var(--background-color);
}

.movie-poster {
  width: 220px;
  height: 320px;
  margin: auto;
  transform: rotate(5deg);
}

.movie-poster:hover {
  transform: rotate(0deg);
}

@media (min-width: 715px) {
  /* rules for displays that are above 715px */
  .start-form {
    flex-direction: row;
    gap: 16px;
    margin: 0 10px;
  }

  .email {
    flex: 1 1 25%;
  }

  .home-movies-wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .home-movie-poster,
  .movie-poster {
    margin: 0;
  }

  .title {
    font-size: var(--h1-size-tablet);
  }

  .hero-subtitle {
    font-size: var(--h2-size-tablet);
  }

  footer {
    justify-content: flex-start;
    max-width: 730px;
  }
  .movies-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  /* rules for displays that are above 992px */
  .title {
    font-size: var(--h1-size-desktop);
  }

  .hero-subtitle {
    font-size: var(--h2-size-desktop);
  }
}
